body {
	background: #1abc9c; 
	font-family: Tahoma, Arial, sans-serif; 
	color: #333;
}
table {
	border-collapse: collapse;
	border: 1px solid #399; /* Граница вокруг таблицы */
	border-spacing: 7px 5px; /* Расстояние между границами */
}
p, h4 {
	font-size: 20px; 
	margin-bottom: 0;
}
h4 {
	font-size: 14px; 
}
ul, ol {
	margin: 0;
}
table tr td {
	padding: 5px;
	border: 1px solid #333; /* Граница вокруг ячеек */
	padding: 5px; /* Поля в ячейках */ 
}
table {
	width: 100%;
}

img {
	height: 30px;
	width: auto;
}

h1 {
	font-family: serif;
}
